<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app"> <button @click="handler">按钮</button>
    <ul>
      <li v-for="(value,index) in arr" :key='index'>
        {{`li-${value}`}}
        <a href="" v-if='value===2'>a</a>
      </li>
    </ul>
  </div>
  <script src="../../dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        arr: [1, 2, 3]
      },
      methods: {
        handler() {
          this.arr = [1, 4, 2, 3]
        }
      }
    })

  </script>

</body>

</html>
